.mainBody{
    background-color: #1C2326;
    padding: 80px;
    color: #F4BA46;
    font-family: 'Inter', sans-serif;
    /*Intento de un flex Box */
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;

}

img{
    max-width: 350px;
    width: 100;
}


p{
    color: #8097a6;
}


/* izquierda */

.divRigth{
    display: flex;
    background-color: red;
    padding: 20px;
}

.mainP{
    color: tomato;
    padding-bottom: 14px;
}
.diffp{
    font-size: 14px;
    color: #FDECD2;
    padding-bottom: 14px;
}
/* derecha */

.divLeft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 40px;
    border-style: none none none solid;
    padding-left: 80px;
    border-width: 1px;
}
.h2{
    margin-bottom: 30px;
}

.p2Inline{
    text-decoration-line: underline;
    font-size: 14px;
    text-align: center;
    margin-top: -6px;
}

.p2Inline:hover{
    cursor: pointer;
    color: #e8e2d5c4;
    transition: all 0.2s ease;
}

.button-container{
    display: grid;
    justify-content: center;
}

.ghostMain{
    background-color: transparent;
    border: #F4BA46, 2px;
    border-color: #F4BA46;
    color: #F4BA46;
    padding: 14px 30px;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button-container button:hover{
    background-color: #f4ba4667;
}

